#header-image {
	height: 100px;
}  
.error {
	color: red;
}

body {
	width: 100%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

nav {
	background-color: #623a00;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

#parks-pic {
	float: left;
}

.home-img-and-info {
	width: 1100px;
	height: 350px;
}

.home-park-image {
	top: 1px;
	height: 337px;
	width: 500px;
	margin: 0px;
}

.home-park-info {
	position: relative;
	left: 520px;
	bottom: 355px;
	width: 600px;
	height: 337px;
}

.home-park-name {
	position: top;
}

#details-park-image {
	height: 500px;
	position: center;
	margin-left: 150px;
}
.details-park-info{
	max-width: 800px; 	
}

